<div class="col-md-6">
    <h4>Upload something:</h4>

    <div class="well">
        <form class="form-horizontal" role="form" name="uploader">
            <div class="form-group">
                <label for="file_input" class="col-lg-3 control-label">File</label>

                <div class="col-lg-9">
                    <input type="file" id="file_input" class="form-control"
                           ng-class="{uploader.file_input.$error: has-error}" name="file_input" ng-model="file"
                           valid-file required ng-click="reset()">

                    <p class="help-block">Only image files are handled for now.</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-3 col-lg-3">
                    <button type="submit" class="btn btn-default" ng-class="{uploader.$error: disabled}" ng-click="upload(file)">
                        Upload
                        <i class="glyphicon glyphicon-refresh rotation-anim" ng-show="uploading"></i>
                        <i class="glyphicon glyphicon-ok-circle" ng-show="uploaded"></i>
                    </button>
                </div>
                <div class="form-error-alert col-lg-5 alert alert-danger" ng-show="error">{{error}}</div>
            </div>
        </form>
    </div>
</div>